* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #171717;
}

.wrapper {
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Logo-and-Button ~~~~~~~~~~~~~~~~~~ */

.nav {
    display: flex;
    justify-content: space-between;
    margin: 46px 0 46px 0;
}

.logo-link {
    display: flex;
}

.call-button-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E4B564;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
}

.phone-img {
    margin-right: 10px;
}

.call-button:hover {
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Header-topic ~~~~~~~~~~~~~~~~~~ */

.header-topic {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 60px;
}

.span-header {
    display: flex;
}

.header-text {
    display: flex;
    justify-content: center;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    width: 1182px;
    color: #FFFFFF;
    margin: 40px 0 40px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ First Grid ~~~~~~~~~~~~~~~~~~ */

.first-grid-container {
    display: grid;
    justify-content: center;
    grid: repeat(2, 468px) / repeat(6, 1fr);
    grid-template-areas:
        "a a  b b  c c"
        "d d d  e e e";
    grid-gap: 30px;
}

.grid {
    display: flex;
    justify-content: center;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    padding: 44px;
}

.grid-item-1 {
    grid-area: a;
    background: #634F2C;
}

.grid-item-2 {
    grid-area: b;
    background: #B4A385;
}

.grid-item-3 {
    grid-area: c;
    background: #E4B564;
}

.grid-item-4 {
    grid-area: d;
    background: #635A4A;
}

.grid-item-5 {
    grid-area: e;
    background: #B08C4D;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Second Grid ~~~~~~~~~~~~~~~~~~ */

.second-grid-container {
    display: grid;
    justify-content: center;
    grid: repeat(8, auto) / repeat(3, 1fr);
    grid-template-areas:
        "a   b   c"
        "a   b   c"
        "d   b   f"
        "d   e   f"
        "d   e   f"
        "d   e   g";
    grid-gap: 30px;
    margin-top: 80px;
    background: #171717;
}

.gilam-700 {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px;
}

.gilam-500 {
    font-family: 'Gilam', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px;
}

.second-grid-item-1 {
    grid-area: a;
    background: #0E0E0E;
    height: 313px;
}

.second-grid-item-2 {
    grid-area: b;
    background: #242424;
    height: 439px;
}

.second-grid-item-3 {
    grid-area: c;
    background: #1F1F1F;
    height: 255px;
}

.second-grid-item-4 {
    grid-area: d;
    background: #1F1F1F;
    height: 560px;
}

.second-grid-item-5 {
    grid-area: e;
    background: #E4B564;
    font-family: 'Gilam', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    padding: 44px;
    height: 405px;
}

.second-grid-item-6 {
    grid-area: f;
    background: #0E0E0E;
    height: 313px;
    margin-top: -60px;
}

.second-grid-item-7 {
    grid-area: g;
    background: #0A0909;
    height: 277px;
    margin-top: -50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Third Grid ~~~~~~~~~~~~~~~~~~ */

.footer {
    background: #0E0E0E;
    margin: 80px 0 80px 0;
    padding-top: 60px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 50px;
    background: #0E0E0E;
}

.main-topic {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.third-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 391px;
}

.third-grid-item-1 {
    background: #634F2C;
}

.third-grid-item-2 {
    background: #E8D2ABC2;
    cursor: pointer;
}

.third-grid-item-3 {
    background: #E4B564;
}

.third-grid-item-4 {
    background: #635A4A;
}

.third-grid-item-5 {
    background: #B08C4D;
}

.third-grid-item-6 {
    background: #634F2C;
}

.center-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    transition: all 300ms linear;
}

.grid-logo {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 44px;
}

.gilam-600 {
    font-family: 'Gilam', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.gilam-400 {
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.third-grid-item-2 .hidden-text {
    opacity: 0;
    transition: all 300ms linear;
}

.third-grid-item-2:hover .hidden-text {
    opacity: 1;
}

.third-grid-item-2:hover .center-logo {
    margin-top: -70px;
}